<!DOCTYPE html>

<footer>
  <div class="container mb-9">
    <hr />

    <div class="row">
      <div class="col-12 text-center"></div>
      <div class="column" style="display: flex; align-items: center">
        <div class="card-footer">
          <h3>Supported by</h3>
        </div>
      </div>
    </div>

    <div
      class="row text-center justify-content-center d-flex align-items-center"
    >
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.rwth-aachen.de/">
          <img
            src="{{site.baseurl}}/images/Institutions/RWTH_logo.png"
            alt="RWTH Aachen"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>

      <div class="col-6 col-md-3 my-3">
        <a href="https://www.maastrichtuniversity.nl/">
          <img
            src="{{site.baseurl}}/images/Institutions/UM_logo.png"
            alt="UM"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.uliege.be/">
          <img
            src="{{site.baseurl}}/images/Institutions/UL_logo.png"
            alt="ULiege"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.kuleuven.be/english/kuleuven/">
          <img
            src="{{site.baseurl}}/images/Institutions/KUL_logo.png"
            alt="KU Leuven"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center"></div>
      <div class="column" style="display: flex; align-items: center">
        <div class="card-footer">
          <h3>Local organiser</h3>
        </div>
      </div>
    </div>

    <div
      class="row text-center justify-content-center d-flex align-items-center"
    >
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.ccls.rwth-aachen.de/">
          <img
            src="{{site.baseurl}}/images/Institutions/CCLS_logo.svg"
            alt="CCLS"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a
          href="https://www.ukaachen.de/kliniken-institute/joint-research-center-for-computational-biomedicine/lehre/institute-for-computational-biomedicine/"
        >
          <img
            src="{{site.baseurl}}/images/Institutions/JRC.jpg"
            alt="Institute for Computational Biomedicine"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.iamb.rwth-aachen.de/go/id/ilqf/?lidx=1">
          <img
            src="{{site.baseurl}}/images/Institutions/IAMB.svg"
            alt="Institute of Applied Microbiology"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 my-3">
        <a href="https://www.ukaachen.de/">
          <img
            src="{{site.baseurl}}/images/Institutions/UKA_logo.svg"
            alt="Uniklinik Aachen"
            class="img-fluid"
            style="max-height: 100px"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
